/* -----------------------------

      STRATEGY PAGE STYLES

----------------------------- */
.wrapper {
  padding: 0 2em;
  margin-bottom: 2em;
  .strategy {

    background:#fff;
    // padding: 12% 10% 0 10%;
    padding: 2em;
  }

  @include media( $tablet ) {
    padding: 0;
    .strategy {
      padding-left: 10.28426%;
      width: 59.86297%;
    }
  }
}
.slider-wrapper {
    @include outer-container;
    position: relative;
    .active {
      visibility: visible!important;
    }
    .slide {
      @include row(table);
      min-height: 26.250em;
      article, aside {
        vertical-align: top;
      }
      aside {
        @include span-columns(4);
        @include omega;
        min-height: 26.250em;
        height: 100%;
        padding-left: 2.84259%;
      }
      svg {
        position: absolute;
      }
      .slide-count {
        // background: asset-url('icons/icon-step-indicator.svg') no-repeat center center;
        color: #c0c1c4;
        font-size: 1.250em;
        left: 1.5em;
        position: relative;
        top: 1em;

        @include media(28em) {
          font-size: em(18);
        }

      }
      article {
        @include span-columns(6);
        @include omega;
        padding: 2em 10.28426% 2em 10.28426%;
        p {
          width: 82%;
        }
        .down-arrow {
          margin: initial;
          text-align: center;
        }
        .header2 {
          margin-top: 3em;
        }
      }
      .current-slide { color: #ec4226; }
      .down-arrow {
        @include hide-text;
        background: asset-url('icons/icon-down-arrow.svg') no-repeat left top;
        display: block;
        height: 1.8215em;
      }
      @include media( $tablet ) {

      }
      @include media( $laptop ) {

      }
      @include media( $large ) {

      }
    }
    .case-study-block {
      @include row('table');
      background: $darkgrey;
      height: 19.625em;
      padding-bottom: 3.5em;
      position: relative;
      // padding: 0 2em;
      p { color: #fff; }
      p.header2 {
        color: $headers;
        margin-top: 3.5em;
      }
      aside h2 {
        color: #fdc12f;
        margin-top: 3.5em;
        font-family: 'Open Sans', sans-serif;
      }
      aside ul {
        padding: 0 0 0 5%;
        margin-top: 2em;
      }
      aside li {
        margin-bottom: 1em;
        line-height: 1em;
        &:before { display: none; }
      }
      aside a {
        font-size: 14px;
      }
      article {
        padding: 0 7.5%;
      }

      @include media( $tablet ) {
        padding-bottom: 7em;
        p.header2 {
          margin-top: 7em;
        }
        article {
          @include span-columns(6);
        }
        aside {
          @include span-columns(4);
          @include omega;
          // padding-left: 2.84259%;

          ul {
            padding: 0;
          }
        }
      }
      @include media( $laptop ) {
        aside {
          li {
              display: inline-block;
              width: 45%;
            }
        }
      }
    }
    .triangle{
      @include triangle(84px, #009edd $darkgrey, down);
      position: absolute;
      top: 0px;
    }
    #conversation {
      background-color: #f4f4f4;
      aside {
        background: shade(#f4f4f4,10%) asset-url('icons/icon-strategy1.svg') center center no-repeat;
      }
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center center no-repeat;
      // }

    }
    #homework {
      background-color: #fec130;
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -200px no-repeat;
      // }
      aside {
        background: shade(#fec130,10%) asset-url('icons/icon-strategy2.svg') center center no-repeat;
      }
    }
    #strategy {
      background-color: #202020;
      p { color: #fff; }
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -400px no-repeat;
      // }
      aside {
        background: shade(#202020,50%) asset-url('icons/icon-strategy3.svg') center center no-repeat;
      }
    }
    #creative {
      background-color: #f4f4f4;
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -600px no-repeat;
      // }
      aside {
        background: shade(#f4f4f4,10%) asset-url('icons/icon-strategy4.svg') center center no-repeat;
      }
    }
    #gotowork {
      background-color: #009edd;
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -800px no-repeat;
      // }
      aside {
        background: shade(#009edd,20%) asset-url('icons/icon-strategy5.svg') center center no-repeat;
      }
    }
    #present {
      background-color: #202020;
      p { color: #fff; }
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -1000px no-repeat;
      // }
      aside {
        background: shade(#202020,50%) asset-url('icons/icon-strategy6.svg') center center no-repeat;
      }
    }
    #test {
      background-color: #fec130;
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -1200px no-repeat;
      // }
      aside {
        background: shade(#fec130,20%) asset-url('icons/icon-strategy7.svg') center center no-repeat;
      }
    }
    #execute {
      background-color: #f4f4f4;
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -1400px no-repeat;
      // }
      aside {
        background: shade(#f4f4f4,10%) asset-url('icons/icon-strategy8.svg') center center no-repeat;
      }
    }
    #track {
      background-color: #009edd;
      margin-bottom: 0;
      // PNG BACKUPS
      // figure {
      //   background: asset-url('icons/current360-strategy-icons.png', image) center -1600px no-repeat;
      // }
      aside {
        background: shade(#009edd, 10%) asset-url('icons/icon-strategy9.svg') center center no-repeat;
      }
    }
}


#slide9 * {
  fill: $headers; }

#slide8 {
  .step8 path, .step7 path, .step6 path, .step5 path, .step4 path, .step3 path, .step2 path, .step1 path {
   fill: $headers;
  }
}
#slide7 {
  .step7 path, .step6 path, .step5 path, .step4 path, .step3 path, .step2 path, .step1 path {
  fill: $headers;
  }
}
#slide6 {
  .step6 path, .step5 path, .step4 path, .step3 path, .step2 path, .step1 path {
  fill: $headers;
  }
}
#slide5 {
  .step5 path, .step4 path, .step3 path, .step2 path, .step1 path {
  fill: $headers;
  }
}
#slide4 {
  .step4 path, .step3 path, .step2 path, .step1 path {
  fill: $headers;
  }
}
#slide3 {
  .step3 path, .step2 path, .step1 path {
  fill: $headers;
  }
}
#slide2 {
  .step2 path, .step1 path {
  fill: $headers;
  }
}


@include reset-display();