<%= content_for :page_title, "Contact Current360 for career opportunities" %>
<%= content_for :description, "Whether you’re looking for a full-service marketing agency to help build your brand or you’re interested in joining our team, we’d love to hear from you." %>
<div class="wrapper">
    <main>
        <h1>Looking for a career?</h1>
        <p>If you’ve made it this far, you realize we’ve assembled a truly amazing staff. And it’s what sets us apart.</p>

        <p>With that said, we’re always looking to up our game. So, if you think you’ve got something special to offer the Current360 team, please let us know.</p>

        <p>Drop us a line today.</p>
    </main>
    <aside>
        <%= render 'forms/jobForm' %>
    </aside>
</div>