<%= content_for :page_title, "Data-Driven Marketing Strategy | Integrated Brand Building" %>
<%= content_for :description, "We know dynamic, data-driven ways to engage with audiences across a wide variety of industries and consumer segments to get noticed and achieve results." %>

<div class="wrapper">
  <main class='strategy'>
    <h1>Strategic Planning for Data-<br>Driven Marketing Campaigns</h1>
    <p>Here’s what you can expect when you work with us.</p>
  </main>
</div>

<div class="slider-wrapper">
  <div class="slide active" data-slide="1" id="conversation">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">01</span>/09</p>
      <p class="header2">We have a conversation</p>
      <p>Whether you’re a new client or an existing client, every project begins the same way. You’ll sit down with the people who will be working on your account and we’ll listen as you tell us about the goal you want to achieve.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="2" id="homework">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#EA4226" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">02</span>/09</p>
      <p class="header2">We do our homework.</p>
      <p>This is where we tap into our inner nerds. We perform competitive and categorical research, we analyze psycho-/socio-/demographic data about your target audience and we utilize our connections with leading market research firms. Then we clear all the clutter to reveal a truth we can build on.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="3" id="strategy">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#EA4226" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#EA4226" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">03</span>/09</p>
      <p class="header2">We formulate a strategy. And we share it with you.</p>
      <p>We use this information – along with the collective knowledge and experience of our team – to develop an overarching strategy that will achieve your goal. Then we have another conversation with you.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="4" id="creative">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">04</span>/09</p>
      <p class="header2">We write a creative brief. And we share that with you, too.</p>
      <p>Before we even think about creative executions, we complete a brief that outlines every aspect of your project, from the objective to the message to the tone. Then we ask you to sign it. This ensures that everyone who interacts with your project has the exact same understanding, which simplifies the following steps and reduces the need for revisions.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="5" id="gotowork">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">05</span>/09</p>
      <p class="header2">We go to work.</p>
      <p>This is the part where we put a fistful of quarters in the creativity machine, turn up all the dials and yank down on that big green lever.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="6" id="present">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">06</span>/09</p>
      <p class="header2">We present our big ideas. And we listen to your feedback.</p>
      <p>It’s that simple. If you’re blown away, we move forward. If we need to make revisions, this is the stage to do just that.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="7" id="test">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">07</span>/09</p>
      <p class="header2">We test it.</p>
      <p>Once you’ve signed off on the work, we see how it stands up to real world scenarios. We can perform consumer testing and focus groups to ensure that our ideas resonate well with the target audience. Then we make any necessary adjustments to improve the overall idea.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>

  <div class="slide" data-slide="8" id="execute">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">08</span>/09</p>
      <p class="header2">We execute it.</p>
      <p>When you say go, we go.</p>
      <a href="#" class="down-arrow">Next</a>
    </article>
    <aside>
    </aside>
  </div>
  <div class="slide" data-slide="9" id="track">
    <article>
      <svg version="1.1" x="0px" y="0px" width="100px"
           height="100px" viewBox="0 0 100 100">
        <g id="step9">
            <path fill="#E7E7E8" d="M49.977,14.118c-8.313,0-16.398,2.952-22.767,8.311l-0.764,0.643l2.701,3.22l0.767-0.645
                c5.612-4.723,12.737-7.324,20.063-7.324h1v-4.205H49.977z"/>
        </g>
        <g id="step8">
            <path fill="#E7E7E8" d="M27.976,21.784l-0.766,0.645c-6.377,5.365-10.678,12.807-12.11,20.953l-0.173,0.985l4.141,0.73l0.173-0.985
                c1.262-7.177,5.053-13.735,10.673-18.464l0.764-0.643L27.976,21.784z"/>
        </g>
        <g id="step7">
            <g>
                <g>
                    <g>
                        <path fill="#E7E7E8" d="M22.959,65.128c-2.742-4.73-4.191-10.124-4.191-15.597c0-1.814,0.159-3.637,0.472-5.42l0.173-0.984
                            l-4.14-0.73L15.1,43.382c-0.355,2.022-0.536,4.091-0.536,6.149c0,6.212,1.645,12.333,4.757,17.702l0.5,0.863l3.641-2.102
                            L22.959,65.128z"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="step6">
            <path fill="#E7E7E8" d="M39.304,78.859c-6.859-2.505-12.663-7.381-16.344-13.731l-0.5-0.863l-3.641,2.102l0.502,0.866
                c4.175,7.204,10.76,12.735,18.543,15.577l0.94,0.343l1.438-3.95L39.304,78.859z"/>
        </g>
        <g id="step5">
            <path fill="#E7E7E8" d="M61.59,78.512l-0.94,0.344c-6.852,2.504-14.51,2.499-21.346,0.004l-0.94-0.343l-1.438,3.95l0.938,0.343
                c3.879,1.416,7.954,2.135,12.113,2.135c4.151,0,8.227-0.72,12.112-2.139l0.938-0.343L61.59,78.512z"/>
        </g>
        <g id="step4">
            <path fill="#E7E7E8" d="M77.493,64.276l-0.501,0.863c-3.677,6.339-9.48,11.21-16.343,13.716l-0.938,0.343l1.438,3.95l0.94-0.343
                c7.786-2.843,14.371-8.369,18.543-15.56l0.503-0.867L77.493,64.276z"/>
        </g>
        <g id="step3">
            <path fill="#E7E7E8" d="M84.853,43.382l-0.173-0.985l-4.141,0.73l0.173,0.984c0.314,1.786,0.474,3.61,0.474,5.42
                c0,5.483-1.45,10.881-4.193,15.608l-0.503,0.867l3.642,2.103l0.501-0.863c3.112-5.367,4.758-11.493,4.758-17.715
                C85.39,47.473,85.209,45.404,84.853,43.382z"/>
        </g>
        <g id="step2">
            <path fill="#E7E7E8" d="M84.854,43.382c-1.435-8.154-5.74-15.599-12.124-20.965l-0.767-0.644l-2.701,3.22l0.765,0.643
                c5.627,4.729,9.422,11.291,10.686,18.476l0.174,0.985l4.141-0.73L84.854,43.382z"/>
        </g>
        <g id="step1">
            <g>
                <g>
                    <path fill="#EA4226" d="M72.729,22.417c-6.368-5.352-14.448-8.299-22.753-8.299h-1v4.205h1c7.317,0,14.438,2.597,20.05,7.313
                        l0.767,0.644l2.701-3.219L72.729,22.417z"/>
                </g>
            </g>
        </g>
      </svg>

      <p class="slide-count"><span class="current-slide">09</span>/09</p>
      <p class="header2">We track it and improve it.</p>
      <p>Just because our idea is out there doesn’t mean our work is done. We’re constantly – especially from a social or digital perspective – refining our message and tweaking our delivery methods to improve our results.</p>
    </article>
    <aside>
      <figure></figure>
    </aside>
  </div>
  <div class="case-study-block">
    <article>
      <span class="triangle"></span>
      <p class="header2">And we can prove it.</p>
      <p>See how our strategic process has lead to successes for our clients.</p>
    </article>
    <aside>
      <ul>
        <li><a href="">Clark Memorial</a></li>
        <li><a href="">Jefferson National</a></li>
        <li><a href="">Mortenson Family Dental</a></li>
        <li><a href="">Schmitt Sohne</a></li>
        <li><a href="">Tumbleweed</a></li>
        <li><a href="">YMCA Louisville</a></li>
        <li><a href="">Clark Memorial</a></li>
        <li><a href="">Jefferson National</a></li>
        <li><a href="">Mortenson Family Dental</a></li>
        <li><a href="">Schmitt Sohne</a></li>
        <li><a href="">Tumbleweed</a></li>
        <li><a href="">YMCA Louisville</a></li>
      </ul>
    </aside>
  </div>
</div>