<section class="case_study">
    <a href="<%= @caseStudy %>">
        <span id="heading">Case Study</span>
        <span class="title"><%= caseStudy.title %></span>
        <span class="description"><%= caseStudy.description %></span>
    </a>
</section>