<section class="case_study">
    <a href="<%= @caseStudy.title %>" style="background-image: url('<%= @caseStudy.main_image.url %>')">
        <span id="heading">Case Study</span>
        <span class="title"><%= @caseStudy.title %></span>
        <span class="description"><%= @caseStudy.challenge %></span>
    </a>
</section>