<% content_for :case_study_content do %>
    <svg
        id="financial-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <polygon fill="#20201F" points="56,57 56,53 8,53 8,57 4,57 4,61 60,61 60,57 "/>
        <polygon fill="#20201F" points="22,24 22,22 12,22 12,24 13.001,24 13.001,48 12,48 12,50 22,50 22,48 21,48 21,24 "/>
        <polygon fill="#20201F" points="37,24 37,22 27,22 27,24 28,24 28,48 27,48 27,50 37,50 37,48 36,48 36,24 "/>
        <polygon fill="#20201F" points="52,24 52,22 42,22 42,24 43,24 43,48 42,48 42,50 52,50 52,48 51,48 51,24 "/>
        <path fill="#20201F" d="M32,3L3.999,19H60L32,3z M32,15c-1.657,0-3-1.343-3-3s1.343-3,3-3c1.656,0,3,1.343,3,3S33.656,15,32,15z"/>
    </svg>
    <h1>Banking &amp; Financial Marketing</h1>
    <p>The financial world is changing rapidly. With the rise of social media, new privacy and compliance issues are causing serious headaches. And advancements in mobile technology have revolutionized the way institutions do business with their customers.</p>

    <p>For Millennials, this evolution comes naturally. But convincing Boomers and Gen Xers to change the way they handle their money takes experience and a deep understanding of your industry.</p>

    <p>At Current360, we’ve partnered with banks of all sizes, insurance companies, investment firms and other financial institutions for more than 20 years.</p>

    <p>We know that the best way to build trust among current and potential customers is through clear communication. That means consistent messaging via your website, digital messaging and traditional marketing efforts.</p>

    <p>We can also help you capitalize on social media opportunities to increase new customer acquisitions and build brand loyalty. All while achieving total compliance.</p>

    <p>When it comes to financial marketing that gets results, the smart money is on Current360.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- HARRY -->