<% content_for :case_study_content do %>
    <svg
        id="sprits-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <g>
            <path fill="#202020" d="M24,15h-6c0,0,0,0,0,3c0,6-6,6.344-6,15c0,4.882,0,31,0,31h18c0,0,0-26.118,0-31c0-8.656-6-9-6-15
                C24,15,24,15,24,15z"/>
            <rect x="18" y="0" fill="#202020" width="6" height="12"/>
            <path fill="#202020" d="M46,48c0-4,7-3,7-13c0-3.162-2-11-2-11H37c0,0-2,7.838-2,11c0,10,7,9,7,13v14h-7v2h7h4h7v-2h-7V48z"/>
        </g>
    </svg>
    <h1>Beverages &amp; Spirits</h1>
    <p>At Current360, we know that to be successful in this highly competitive industry, you have to stay ahead of emerging trends.</p>

    <p>Right now, the cocktail revolution is going strong among Millennials and Gen X. Flavored options and premiumisation have driven the popularity of iconic brands, yet craft products are starting to gain a foothold in market share against traditional spirits. And a demand for alcoholic energy drinks – that don’t taste like traditional energy drinks – will likely influence the next generation of product introductions.</p>

    <p>As consumer tastes and preferences evolve, it is vital that your agency fully understands your customers.</p>

    <p>That means engaging with younger audiences via social media, rewarding loyal ambassadors with unique experiences and captivating potential consumers right at the shelf.</p>

    <p>For an agency that can hold its liquor (and a wide variety of other beverages), give Current360 a call.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- NICK -->