<% content_for :case_study_content do %>
    <svg
        id="casual-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <path fill="#202020" d="M41.619,44.371c-1.979-1.979-5.194-0.744-9.154-4.703L22,29.201l0.01-2.836l11.879,11.879l0.707-0.707
            L24.131,27.072v-2.829L36.01,36.122l0.707-0.707L26.252,24.95v-2.828l11.879,11.879l0.707-0.706L28.373,22.829V20l11.879,11.881
            l0.001-0.001c3.962,3.959,2.724,7.173,4.704,9.154c0.416,0.416,1.796,1.797,3.707,3.707c2.707-3.535,4.334-7.943,4.334-12.74
            c0-11.598-9.401-21-20.998-21c-11.598,0-20.999,9.402-20.999,21c0,11.597,9.401,20.998,20.999,20.998
            c5.098,0,9.77-1.819,13.406-4.84C43.453,46.204,42.041,44.792,41.619,44.371z"/>
        <path fill="#202020" d="M47.535,50.286c-4.188,3.561-9.608,5.713-15.535,5.713C18.746,55.999,8.001,45.255,8.001,32
            S18.746,8.001,32,8.001c13.255,0,24.001,10.744,24.001,23.999c0,5.628-1.942,10.799-5.187,14.892c1.05,1.05,2.188,2.187,3.367,3.366
            c4.091-4.964,6.548-11.324,6.548-18.258C60.729,16.133,47.866,3.27,32,3.27C16.132,3.27,3.271,16.133,3.271,32
            c0,15.866,12.861,28.729,28.729,28.729c7.232,0,13.836-2.679,18.887-7.092C49.714,52.465,48.582,51.333,47.535,50.286z"/>
    </svg>
    <%# CONTENT WILL BE LOADING INTO landingPageTemplate Partial which loads into layouts/application.html.erb %>
    <h1>Casual Dining Marketing</h1>
    <h2>Results without reservations</h2>
    <p>At Current360, we understand casual dining from the front of the house to the back. We’ve learned that marketing can bring people through the door, but extensive server training and high kitchen standards create customers for life.</p>
    <p>We also know that while table turnover gets most of the attention, it’s operating cost management, employee turnover rates and inventory loss control that really keep restaurant operators awake at night. </p>
    <p>Over the years, we’ve designed LTOs for Millennials, brought sizzling steaks to life – with the help of our own commercial photography and video studio – and improved restaurant operations from dishwashing to dessert presentations.</p>
    <p>And we’re still hungry for new casual dining challenges. Check out some of our work, then give us call.</p>
    <p>At Current360, we’re not just up to speed. We’re ahead of the curve.</p>
<% end %>

<%= render partial: 'landingPageTemplate' %>
<!-- HARRY -->