<% content_for :case_study_content do %>
    <svg
        id="education-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <g>
            <path fill="#202020" d="M32,38.448l-0.765-0.316L14,31v13c5,0,15,4,18,12c3-8,13-12,18-12V31l-17.235,7.132L32,38.448z"/>
            <polygon fill="#202020" points="63.995,22.07 32,8.831 0.005,22.07 32,35.31 55,25.792 55,49 56,49 56,37 57,37 57,49 58,49
                58,24.551   "/>
        </g>
    </svg>
    <h1>Education Marketing</h1>
    <p>It’s safe to say most people understand the value of education. But with college tuition an estimated 42% higher today than in 2004, it’s becoming harder to justify the price of higher education or private schools.</p>

    <p>Even Catholic schools are seeing a decrease in admissions due to competing independent institutions and lower demands for faith-based education.</p>

    <p>At Current360, we know that no matter what level of education we’re marketing, the end goal is all about building enrollment. And while you’re ultimately selling a service, potential students and parents are really looking for an experience and the promise of a bright future.</p>

    <p>For nearly 20 years, we’ve studied the ups and downs of enrollment numbers. That experience combined with our expertise in research, digital advertising and traditional media—like in-house video production—equals A+ campaigns that put students in desks.</p>

    <p>To add Current360 to your marketing equation, give us a call.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- Nick -->