<% content_for :case_study_content do %>
    <svg
        id="festival-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <path fill="#202020" d="M55,36.5c0-1.93,1.57-3.5,3.5-3.5h1.499L60,26H47.276l0.15-0.15l-4.95-4.95l-1.061,1.061
        c-1.364,1.365-3.585,1.365-4.95,0c-1.364-1.364-1.364-3.585,0-4.949l1.061-1.061L32.577,11L5,38.577l4.95,4.949l1.061-1.061
        c1.363-1.363,3.584-1.363,4.949,0c1.364,1.365,1.364,3.586,0,4.95l-1.061,1.061l4.95,4.95l6.426-6.426H60V40h-1.5
        C56.57,40.001,55,38.431,55,36.5z M25.032,44.002l-2.999,2.999l-2.184,2.184l-0.831-0.832c1.545-2.504,1.232-5.838-0.938-8.008
        c-2.17-2.169-5.504-2.482-8.008-0.938l-0.831-0.83L21,26.82L21.82,26l10.757-10.757l0.83,0.83c-1.545,2.504-1.232,5.838,0.938,8.008
        s5.504,2.482,8.008,0.938l0.832,0.832L43.035,26l-3,3L25.032,44.002z"/>
    </svg>
    <h1>Festival &amp; Event Marketing</h1>
    <p>At Current360, we love a good party. Of course, we know firsthand that successful festivals and events are the result of extensive planning and preparation.</p>
    <p>From creating potential visitor profiles to recruiting key sponsors to establishing variable and fixed cost structures, we partner with your team to build the core framework for your event.</p>
    <p>Then, we go to work on measurable marketing strategies that keep turnstiles spinning and tickets in high demand.</p>
    <p>Over the years, we’ve helped one-time events – like The Centennial Festival of Riverboats and The Cup Experience during the 37th Ryder Cup – attract visitors from around the world. And, after taking the reins for the Kentucky Derby Festival and the Kentucky Bourbon Festival, we consistently increased awareness, attendance and profits year after year.</p>
    <p>To learn more about how we can help your festival or event become the hottest ticket in town, just give us a call.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- NICK -->