<% content_for :case_study_content do %>
<svg
    id="health-icon"
    width="64px" height="64px" viewBox="0 0 64 64"
    perserveAspectRatio="xMinyMin meet">
    <g>
        <path fill="#202020" d="M32,3C15.982,3,3,15.984,3,32.001c0,16.016,12.982,29,29,29c16.016,0,29-12.984,29-29
            C61,15.984,48.016,3,32,3z M32,57.973c-14.321,0-25.972-11.65-25.972-25.972S17.679,6.028,32,6.028
            c14.321,0,25.972,11.651,25.972,25.973S46.321,57.973,32,57.973z"/>
        <circle fill="#202020" cx="32" cy="15.938" r="3.938"/>
        <polygon fill="#202020" points="51,20 49,18 32,22.5 15,18 13,20 26.75,25.125 26.75,35.625 26,54 28.182,54 31.596,37.57
            32.404,37.57 35.818,54 38,54 37.25,35.625 37.25,25.125  "/>
    </g>
</svg>
<h1>Fitness &amp; Wellness Marketing</h1>
<p>“What’s in it for me?” is the #1 question consumers want to know when asked to join anything. Especially when membership comes at a price. At Current360, we know how to turn what seems like an added expense into a can’t-live-without experience.</p>
<p>We excel at membership acquisition. Because we understand that your business can’t grow when you rely solely on renewals. We use digital and social targeting, complemented by traditional media buying, to reach your target audience. Then, successfully recruit them using creative tactics so memorable, they’d put Uncle Sam to shame.</p>
<p>Your potential new members are on the Internet right now. They’re looking for weight-loss tips, reading health blogs and buying fitness trackers. Will your business be the next thing they see? With Current360 spotting you, it will. And we have the data to prove it.</p>
<p>See how our strategic campaign produced results that exceeded membership goals for the Y.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>

<!-- HARRY ON SIDEBAR -->