<% content_for :case_study_content do %>
    <svg
        id="healthcare-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <path fill="#202020" d="M54.5,18.001H41V13.5c0-1.93-1.57-3.5-3.5-3.5h-11c-1.93,0-3.5,1.57-3.5,3.5v4.501H9.5
        c-3.038,0-5.5,2.463-5.5,5.5V49.5C4,52.537,6.462,55,9.5,55h45c3.037,0,5.5-2.463,5.5-5.5V23.501
        C60,20.464,57.537,18.001,54.5,18.001z M26,13.5c0-0.275,0.224-0.5,0.5-0.5h11c0.275,0,0.5,0.225,0.5,0.5v4.501H26V13.5z
         M41.375,39.375H35v6.375h-6v-6.375h-6.375v-6H29V27h6v6.375h6.375V39.375z"/>
    </svg>
    <h1>Healthcare Marketing</h1>
    <p>The health care industry relies on key performance indicators – new patient acquisitions, bed occupancy rates, admission volume, etc. – to determine the success of their marketing campaigns. But constantly changing laws and regulations can have a significant impact on strategies and tactics.</p>

    <p>For example, the Affordable Care Act forced administrators to make internal processes their top priority. Now, after improving operational efficiencies and streamlining budgets, branding efforts need to be more cost-effective than ever.</p>

    <p>At Current360, we’re fully prepared to take on these challenges.</p>

    <p>We’ve partnered with a wide variety of healthcare providers, from large community hospitals to multi-unit practices to independent specialists. So we know how to build highly competitive brands that resonate with potential and existing patients. All while staying on budget.</p>

    <p>When you need an agency that understands your situation and can provide immediate solutions, Current360 is always on call.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- NICK -->