<% content_for :case_study_content do %>
    <svg
        id="improvement-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <g>
            <path fill="#202020" d="M4,49.566c0,1.188,0.963,2.15,2.151,2.15H25.85c1.188,0,2.15-0.963,2.15-2.15V44H4V49.566z"/>
            <polygon fill="#202020" points="61,19 59.924,18 45,18 45,16.076 42,15 38.416,15 38.416,23.754 42,23.754 45,22.68 45,20
                59.924,20   "/>
        </g>
        <path fill="#202020" d="M34.113,13H6.151C4.963,13,4,13.964,4,15.15v1.076v6.453v1.074c0,1.188,0.963,2.152,2.151,2.152h4.142
            L8.202,40H6.151C4.963,40,4,40.851,4,42.037h24C28,40.851,27.037,40,25.85,40h-6.893l1.327-8.943h2.564l0.736-5.15h10.529
            l2.15-2.152V22.68v-6.453V15.15L34.113,13z M8.302,18.377v-2.02h20.464l2.121,2.02H8.302z"/>
    </svg>
    <h1>Home Improvement Marketing</h1>
    <p>Experts say that in the coming year the home improvement market will be worth nearly $700 Billion—and it’s still growing.</p>

    <p>That’s because homeowners have become more inclined to maintain or update their current homes rather than buy or build a new one. And, thanks to sites like Pinterest and YouTube, they have almost every resource at their fingertips.</p>

    <p>But this increase in popularity doesn’t mean you can build your business without a blueprint. It takes a marketing plan that puts you ahead of the competition and in front of the right consumers. So, the next time they’re searching for easy ways to update their bathroom, you’ll be the first name that comes to mind.</p>

    <p>At Current360, we know that when it comes to remodeling a brand and marketing strategy, it’s not a do-it-yourself project.</p>

    <p>For brand contractors that can handle the job, give us a call.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- NICK -->