<div class="wrapper">
    <article>
        <h1>Digital and Traditional</h1>
        <h2>Subhead goes right here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem facere quia, sunt unde! Unde dolorum est delectus consequuntur nostrum, nisi quos inventore expedita, officiis quae atque, rerum voluptatum doloribus non!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laborum, nostrum nisi repudiandae voluptatum facilis enim explicabo necessitatibus distinctio quo voluptates eveniet! Sunt possimus distinctio debitis ad molestiae. A, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laborum, nostrum nisi repudiandae voluptatum facilis enim explicabo necessitatibus distinctio quo voluptates eveniet! Sunt possimus distinctio debitis ad molestiae. A, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laborum, nostrum nisi repudiandae voluptatum facilis enim explicabo necessitatibus distinctio quo voluptates eveniet! Sunt possimus distinctio debitis ad molestiae. A, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laborum, nostrum nisi repudiandae voluptatum facilis enim explicabo necessitatibus distinctio quo voluptates eveniet! Sunt possimus distinctio debitis ad molestiae. A, laboriosam!</p>
    </article>
    <aside class="categories">
        <h2>Categories</h2>
        <%= render 'categories' %>
    </aside>
</div>
<main class="home">
    <% if user_signed_in? %>
        <%= link_to "add", new_project_path %>
    <% end %>
    <%= render 'layouts/icons' %>
</main>