<div class="wrapper">
    <div class="content">
        <main>
            <h1></h1>
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </main>
        <section class="case_study">
            <a href="">
                <span id="heading">Case Study</span>
                <span class="title"></span>
                <span class="description"></span>
            </a>
        </section>
        <%# render 'case_study' %>
        <%= render 'blogs' %>
    </div>
    <aside>
        <ul class="categories"></ul>
        <article class="bio">
            <figure><img src="" alt=""></figure>
            <h2></h2>
            <p></p>
            <a href="" class="button"></a>
        </article>
        <div class="process">
            <h3>Strategic   Process</h3>
            <p>Read how Current360 will apply a proven methodology to your project.</p>
            <a href="" class="button">C360 Strategy</a>
        </div>
    </aside>
</div>