<% content_for :case_study_content do %>
    <svg
        id="other-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <path fill="#202020" d="M44.617,30l2.923-4.719c1.967,0.068,3.912-0.902,4.995-2.703c0.729-1.213,0.434-2.57,0.124-4.006
            c-0.398-1.825-0.848-3.893,0.608-6.312l1.056-1.76l-2.008,0.416c-2.242,0.465-7.866,3.425-9.357,5.908
            c-0.77,1.277-0.994,2.779-0.633,4.229c0.128,0.512,0.345,0.981,0.602,1.427L42.04,24H31v-6.677L26.476,8.65L22,17.327V24h-2
            l-0.746-4H8l0.746,4H6l5,32h4h33h4l6-26H44.617z M27,30v-8.636l2-2V30H27z M26,30h-2V19.364l2,2V30z M40.623,30l3.524-6.044
            c0.228,0.191,0.46,0.378,0.72,0.535c0.261,0.157,0.531,0.283,0.806,0.393L42.503,30H40.623z M44.497,17.75
            c0.903-1.502,4.049-3.406,6.33-4.414c-0.67,2.195-0.251,4.121,0.074,5.617c0.255,1.172,0.455,2.097,0.094,2.7
            c-1.076,1.79-3.41,2.372-5.202,1.297c-0.867-0.521-1.479-1.351-1.724-2.333C43.825,19.634,43.976,18.617,44.497,17.75z M40.291,27
            l-1.748,3H31v-3H40.291z M26.485,12.994L29,17.813v0.136l-2.5,2.501L24,17.949v-0.136L26.485,12.994z M13,53l6-26h3v3h-1l-5.308,23
            H13z"/>
    </svg>
    <h1>Current360 - Full Service Marketing</h1>
    <p>You’ll notice that the majority of Current360’s work falls neatly within our industries of expertise. But a few clients and projects don’t fit into those specific categories.</p>

    <p>Of course, that doesn’t mean that we have to keep all this great work to ourselves.</p>

    <p>Some of these outliers have been clients for decades. Others were new business partners who challenged us to learn and adapt quickly to solve a specific problem.</p>

    <p>All together, these opportunities have helped our agency develop a wide range of experience and capabilities to tackle any marketing endeavor.</p>

    <p>Don’t believe us?</p>

    <p>Put an agency that loves to find new solutions to the test.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- Nick -->