<% content_for :case_study_content do %>
    <svg
        id="pet-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <path fill="#202020" d="M32,51c5,0,11,1.999,13,1.999s4-2,4-5c0-5.999-13-16-17-16S15,42,15,47.999c0,3,2,5,4,5S27,51,32,51z"/>
        <path fill="#202020" d="M29.858,19.019c0.679,4.737-1.335,7.829-4.295,8.312c-2.96,0.482-5.746-1.823-6.425-6.562
            c-0.678-4.741,1.171-8.975,4.132-9.457C26.23,10.828,29.179,14.279,29.858,19.019z"/>
        <path fill="#202020" d="M19.045,29.48c1.402,4.554-0.106,7.955-2.95,8.953c-2.844,0.999-5.949-0.785-7.353-5.34
            c-1.401-4.556-0.233-9.058,2.613-10.055C14.2,22.04,17.642,24.925,19.045,29.48z"/>
        <path fill="#202020" d="M34.143,19.019c-0.68,4.737,1.335,7.829,4.295,8.312c2.959,0.482,5.746-1.823,6.424-6.562
            c0.678-4.741-1.17-8.975-4.131-9.457S34.82,14.279,34.143,19.019z"/>
        <path fill="#202020" d="M44.955,29.48c-1.402,4.554,0.105,7.955,2.949,8.953c2.845,0.999,5.949-0.785,7.354-5.34
            c1.4-4.556,0.232-9.058-2.613-10.055C49.801,22.04,46.357,24.925,44.955,29.48z"/>
    </svg>
    <h1>Pet Care Marketing</h1>
    <p>We’re pet people. Between the daily visits from our own pets at the office, to creating award-winning work for our pet-industry clients, we’ve become quite the experts on all things pet related.</p>
    <p>We know dogs are more than just man’s best friend. In reality, the top pet-product purchasers are woman ages 8-51. And the rest span from baby boomers to millennials. We also know, when it comes to equine supplements, horse owners are more likely to take the advice of a supplier over a friend.</p>
    <p>The only way to be the pack leader in this 60 billion dollar industry is with a well-rounded marketing strategy and unique branding that will make your product fly off the shelves.</p>
    <p>At Current360, we’ve successfully developed an identity for a line of wholesome dog treats, turned veterinary test strips into a social sensation, marketed supplements fit for a Derby winner and created the #1 online resource for equine information.</p>
Here, we don’t just bring our pets to work, our work brings your products to our pets.
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- HARRY -->