<% content_for :case_study_content do %>
    <svg
        id="impact-icon"
        width="64px" height="64px" viewBox="0 0 64 64"
        perserveAspectRatio="xMinyMin meet">
        <path fill="#202020" d="M56.5,45.073H14.518L17.613,42h38.741l4.471-24.753l-48.759-4.303l-2.079-2.079C9.916,9.825,9.059,9,8,9
        C7.891,9,7.113,9,7,9c-1.104,0-2,0.896-2,2s0.896,2,2,2c0.172,0,0.738-0.009,0.865,0l2.75,2.74l3.849,25.158l-4.643,4.61
        c-0.432,0.428-0.562,1.074-0.33,1.636c0.231,0.562,0.779,0.929,1.387,0.929h6.415c-0.717,0.679-1.17,1.634-1.17,2.7
        c0,2.058,1.667,3.726,3.726,3.726c2.057,0,3.725-1.668,3.725-3.726c0-1.066-0.453-2.021-1.17-2.7h26.181
        c-0.717,0.679-1.17,1.634-1.17,2.7c0,2.058,1.667,3.726,3.725,3.726s3.726-1.668,3.726-3.726c0-1.066-0.453-2.021-1.171-2.7H56.5
        c0.828,0,1.5-0.672,1.5-1.5S57.328,45.073,56.5,45.073z M41.361,28.32C40.472,27.508,39.3,27,38,27c-1.346,0-2.562,0.538-3.46,1.402
        c-1.173-1.666-2.963-2.862-5.041-3.256l-0.365-6.931l12.726,1.123L41.361,28.32z M55.11,28.052c-2.335,0.259-4.363,1.523-5.65,3.35
        C48.562,30.538,47.346,30,46,30c-0.336,0-0.664,0.036-0.981,0.099l0.579-10.432l10.823,0.956L55.11,28.052z M25.363,17.882
        l0.392,7.443c-2.369,0.692-4.279,2.448-5.183,4.718c-1.538,0.133-2.882,0.938-3.705,2.146l-2.289-15.26L25.363,17.882z"/>
    </svg>
    <h1>High Volume Retail Marketing</h1>
    <p>Nearly 50% of consumers prefer to buy online. And even more, head straight to the Internet to research and read reviews before making a big purchase.</p>
    <p>However, at Current360, we believe brick-and-mortar retail stores offer an invaluable experience that consumers will never find online. Whether they’re test-driving a car, lying on a mattress or trying on a pair of pants, we know how to get them off their devices and in the door.</p>
    <p>By using tactical pay-per-click search and display campaigns, we get you noticed where you already have a captive audience—online. And by promoting varying sale events and strategic media messaging under the turn-on-a-dime demands of high-impact retail, we keep you top-of-mind when it comes time to buy.</p>
    <p>For more information about how we can help you close deals and open stores, just give us a call.</p>
<% end %>
<%= render partial: 'landingPageTemplate' %>
<!-- KATI -->