<form accept-charset="UTF-8" action="/forms/job_form" method="post">
  <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="post"><input name="authenticity_token" type="hidden" value="wAQ3Vccfk9HcdvoWDv5jYnawA1g8dYbjsT336mlyN/w="></div>
  <fieldset>
    <label for="first_name">First Name</label>
    <input type="text" placeholder="Jane Doe" name="first_name" id="name" />
    <label for="last_name">First Name</label>
    <input type="text" placeholder="Jane Doe" name="last_name" id="name2" />
    <label for="email">Email</label>
    <input type="text" placeholder="jane@email.com" name="email" id="email" />
    <label for="phone">Phone</label>
    <input type="text" placeholder="867-5309" name="phone" id="phone" />
  </fieldset>

  <fieldset>
    <label for="message">Areas of Interest:</label>
    <textarea name="message"></textarea>
  </fieldset>
  <input type="submit" value="Send" class="button" />
</form>