<form class="home-newsletter" accept-charset="UTF-8" action="/forms/newsletter" method="post">
    <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="post"><input name="authenticity_token" type="hidden" value="wAQ3Vccfk9HcdvoWDv5jYnawA1g8dYbjsT336mlyN/w="></div>
    <h3>Want the Skinny?</h3>
    <label for='newsletter'>Sign up for our newsletter.</label>
    <fieldset>
        <input type="email" name="newsletter" id="newsletter" placeholder="Your email here.">
        <input type="submit" value="GO">
    </fieldset>
</form>
<script type="text/javascript">
    var __ss_noform = __ss_noform || [];
    __ss_noform.push(['baseURI', 'https://app-IZ1MFA.sharpspring.com/webforms/receivePostback/szQyBQA/']);
    __ss_noform.push(['endpoint', 'aa2fab0c-2f58-463a-8fa5-5da6ad13f300']);
</script>
<script type="text/javascript" src="https://koi-IZ1MFA.sharpspring.comclient/noform.js?ver=1.0" ></script>