<form>
  <fieldset>
    <label for="name">Name</label>
    <input type="text" placeholder="Jane Doe" name="contact-name" id="name" />
    <label for="email">Email</label>
    <input type="text" placeholder="jane@email.com" name="email" id="email" />
  </fieldset>
  <fieldset>
    <label for="message">Message</label>
    <textarea name="message"></textarea>
  </fieldset>
  <select name="" id="">
    <option value="">Discuss a new project</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
  </select>
  <fieldset id="checkbox">
    <input type="checkbox" name="newsletter" id="newsletter"><label class="inline" for="newsletter">Get the C360 Newsletter</label>
  </fieldset>
  <input type="submit" value="Send" class="button" />
</form>